<div class="container">
<div class="row">
	<div class="col-md-offset-2 col-md-8" id="content-wrapper">
				<div class="row" style="opacity: 1; transform: translateY(0px);">
					<div class="col-lg-12">
					
						<div class="clearfix">
							<h1 class="pull-left users-header">Users</h1>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<div class="main-box clearfix">
									<div class="table-responsive">
										<table class="table user-list">
											<thead>
												<tr>
													<th><span>User</span></th>
													<th><span>Created</span></th>
													<th class="text-center"><span>Username</span></th>
													<th><span>Email</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<% @users.each do |u| %>
												<% if u.is_admin == false %>
													<tr>
														<td>
															<img class="img-user" src="/assets/user_icon_sm.png" alt="">
															<a href="/users/<%=u.id%>" class="user-link"><%=u.first_name%></a>
														</td>
														<td>
															<%=u.created_at.to_date%>
														</td>
														<td class="text-center">
															<span class="label label-default"><%=u.user_name %></span>
														</td>
														<td>
															<a href="#"><%= u.email%></a>
														</td>
														<td style="width: 20%; float:left 	;">
															<a href="/delete/<%=u.id%>" class="table-link danger">
																<span class="fa-stack">
																	<i class="fa fa-square fa-stack-2x"></i>
																	<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
																</span>
															</a>
														</td>
													</tr>
												<% end %>
												<%end%>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					
					
					</div>
				</div>
			</div>
</div>
</div>